body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

*,
*::after,
*::before {
	line-height: 1;
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

input,
button {
	border: 0;
	padding: 0;
	font-weight: inherit;
	font-family: inherit;
}

input {
	display: inline-block;
}

input::placeholder {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

input::-ms-clean{
	display : none
}

fieldset {
	border: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}